<template>
  <div>
    <p v-if="nameChanged">
      {{ word1 }}
    </p>
    <button v-on:click="next">{{name}}</button>    
    <br v-if="nameChanged" /><br v-if="nameChanged" />
    <button v-on:click="finish" v-if="nameChanged">Ой все</button>    
  </div>  
</template>

<script>
export default {
  name: 'HelloWorld',
  data(){
    return{
      name:'Генератор случайных фраз, СТАРТ',
      nameChanged: false,
      end: false,      
      arr1: [
              ['вчера','весной','после обеда'],
              ['Илон Маск','Микки Маус','Даврон'],
              ['быстро','хорошо','извращенно'],
              ['съел','намылил','сверстал'],
              ['допработу','телевизор','шаурму']
            ],
      word1: ''
    }
  },  
  methods: {
    next: function(){
      if( this.nameChanged === false ){
        this.nameChanged = true;
        this.name = 'Хочу еще';
      }
      var tempSentence = '';
      for( var i = 0; i < this.arr1.length; i++ ){
        tempSentence += this.arr1[i][Math.floor(Math.random() * this.arr1[i].length)] + ' ';
      }
      this.word1 = tempSentence;
    },
    finish: function(){
      if( this.nameChanged === true ){
        this.nameChanged = false;
        this.name = 'Генератор случайных фраз, СТАРТ';
        this.word1 = '';
      }    
    }
  },
  props: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div{
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
}
button{
  width: 200px;
  padding: 8px;
  
}
p{
  font-size: 28px;
}
</style>
